<app-dashboard-nav></app-dashboard-nav>

<section>
	<div *ngIf="!contactKeys.length" class="empty text-center">
		<i class="material-icons cta">people</i>
		<h2>Looks like you haven't added any contacts yet.</h2>
		<p>Click on the button below to add a contact.</p>
		<button mat-raised-button (click)="addContact()"><i class="material-icons">add</i><span>Add Contact</span></button>
	</div>

	<div *ngIf="contactKeys.length" class="mb30">
		<button mat-fab class="nopad add-contact" (click)="addContact()"><i class="material-icons">add</i></button>

		<div *ngFor="let key of contactKeys">
			<h2>{{ key }}</h2>

			<mat-card class="contact__block">
				<mat-grid-list cols="10"
							   class="contact__block--row"
							   rowHeight="80"
							   *ngFor="let contact of contacts[key]; let int = index">
					<mat-grid-tile colspan="2">
						<div class="contact__block--row-content content-left l10">
							<div class="content-image">
								<i class="material-icons" *ngIf="!hasContactImage(contact)">account_circle</i>
								<img [src]="contact.url" *ngIf="hasContactImage(contact)">
							</div>
						</div>
					</mat-grid-tile>

					<mat-grid-tile colspan="6">
						<div class="contact__block--row-content content-left t8">
							<p>{{ contact.first_name }} {{ contact.last_name }}</p>
							<p class="content-info">
								<i class="material-icons">email</i><span>{{ contact.email || 'n/a' }}</span>
								<i class="material-icons">phone</i><span>{{ contact.mobile || 'n/a' }}</span>
							</p>
						</div>
					</mat-grid-tile>

					<mat-grid-tile colspan="2">
						<div class="contact__block--row-content content-actions">
							<i class="material-icons" *ngIf="contact.email">email</i>
							<i class="material-icons" *ngIf="contact.mobile">chat</i>
							<i class="material-icons" (click)="editContact(int, key)">edit</i>
						</div>
					</mat-grid-tile>
				</mat-grid-list>
			</mat-card>
		</div>
	</div>
</section>
