<mat-grid-list class="toolbar" cols="12" rowHeight="75">
	<mat-grid-tile colspan="2">Logo</mat-grid-tile>

	<mat-grid-tile colspan="8" class="main-nav">
		<a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-button>Dashboard</a>
		<a routerLink="/dashboard/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-button>Contacts</a>
		<a routerLink="/dashboard/messages" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-button>Messages</a>
	</mat-grid-tile>

	<mat-grid-tile colspan="2">
		<button mat-button [matMenuTriggerFor]="user"><i class="material-icons">account_circle</i></button>
	</mat-grid-tile>
</mat-grid-list>

<mat-menu #user="matMenu" yPosition="above">
	<a mat-menu-item href="#">Profile</a>
	<button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>
