<div class="container">
	<div class="form-container" [@fadeOut]="animateFadeOut">
		<!--<button mat-fab (click)="animateToDashboard()">test</button>-->
		<app-login class="animate"
				   [@animateSwitchForm]="animateLoginSwitchState"
				   [@animateFadeForm]="animateLoginFadeState"
				   (animateTo)="animateState($event)"></app-login>
		<app-register class="animate"
					  [@animateSwitchForm]="animateRegisterSwitchState"
					  [@animateFadeForm]="animateRegisterFadeState"
					  (animateTo)="animateState($event)"></app-register>
		<app-reset-password class="animate"
							[@animateSwitchForm]="animatePasswordSwitchState"
							[@animateFadeForm]="animatePasswordFadeState"
							(animateTo)="animateState($event)"></app-reset-password>
	</div>
</div>
