@import '../../../assets/base/imports';

h2 {
	color: map-get($colors, dialog);
	font-size: 30px;
	margin: 0;
}

.photo {
	&__box {
		flex-direction: column;
		text-align: center;

		&--circle {
			margin: 0 auto 20px;
			overflow: hidden;
			position: relative;
			@include circle(200px, #fff);

			img {
				height: auto;
				min-height: 100%;
				width: 100%;
				@include posa(0,n,n,0);
			}
		}

		.photo-button {
			background: map_get($colors, secondary);
			display: inline-block;

			&.disabled {
				background: map_get($colors, light-grey);
			}
		}
	}

	.material-icons {
		&.photo__default {
			display: block;
			font-size: 240px;
			margin-left: -20px;
			margin-top: -20px;
		}
	}
}

.form {
	flex-direction: column;
	padding: 0;
	width: 100%;
}

.button {
	&-background {
		background: map-get($colors, light-grey);
		height: 90px;
		width: 800px;
		@include posa(n,-24px,-24px,n);
	}

	&-actions {
		margin-top: 35px;
		position: relative;
		text-align: right;

		&__close {
			color: map-get($colors, mid-grey);
		}

		&__save {
			@include colors(primary);
		}
	}
}

input[type='number'] {
	-moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
