<div class="form"
	 [formGroup]="password_reset">
	<div *ngIf="!reset">
		<div *ngIf="error" class="error">{{ error }}</div>
		<h2>Reset Your Password</h2>
		<p class="reset">Enter your email address and we will send you a link to reset your password.</p>
		<mat-input-container class="fw-full">
			<input matInput placeholder="Email" formControlName="email">
		</mat-input-container>

		<button mat-raised-button class="fw-full"
				[ngClass]="{'disabled': !password_reset.valid}"
				[disabled]="!password_reset.valid"
				(click)="resetPassword()">Reset Password</button>
	</div>

	<div *ngIf="reset">
		<div class="logo logo__container">
			<mat-icon class="icon icon__email">email</mat-icon>
		</div>
		<p class="reset">Please check your email.</p>
	</div>
</div>

<p class="copy" *ngIf="!reset">
	<span>
		Back to
		<button (click)="animateToLogin()">Login</button>
	</span>
</p>
