<section>
	<article class="message-col">
		<ul class="message-list">
			<li
				class="message message-contact"
				*ngFor="let contact of contact_list; let int = index"
				[ngClass]="{'message-unread': contact.latest_message?.state === 'unread','selected': contact.selected}"
				(click)="getContactMessages(contact.message_id, int)">
				<p class="message-name">{{ contact.first_name }} {{ contact.last_name }}</p>
				<p class="message-latest">{{ contact.latest_message?.message }}</p>
				<p class="message-date">{{ contact.latest_message?.created | amTimeAgo }}</p>
			</li>
		</ul>
	</article>

	<article class="message-col">
		<header>
			<p class="contact-name">Full Name</p>
			<p class="contact-number">{{ recipient_number }}</p>
		</header>

		<article id="message-container">
			<div class="message-chat"
				 *ngFor="let message of messages | async"
				 [ngClass]="{'message-received': message.state !== 'sent', 'message-sent': message.state === 'sent'}">
				<div class="message-chat-bubble">
					<p class="message">{{ message.message }}</p>
					<p class="date">{{ message.created | amTimeAgo }}</p>
				</div>
			</div>
		</article>

		<footer>
			<textarea [(ngModel)]="message"></textarea>
			<button
				(click)="sendMessage()">
				Send
			</button>
		</footer>
	</article>
</section>

<div class="debug">
	<pre>{{ contact_list | json }}</pre>
	<pre>{{ messages | async | json }}</pre>
</div>
